[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/monikaaws
[access "refs/for/refs/*"]
	read = group user/monikaaws
	push = group user/monikaaws
	label-Code-Review = -2..+2 group user/monikaaws
	label-Verified = -1..+1 group user/monikaaws
	rebase = group user/monikaaws
	removeReviewer = group user/monikaaws
	submit = group user/monikaaws
[access "refs/heads/*"]
	read = group user/monikaaws
	create = group user/monikaaws
	push = +force group user/monikaaws
	pushMerge = group user/monikaaws
[access "refs/tags/*"]
	push = group user/monikaaws
	push = +force group user/monikaaws
